body{
    scroll-behavior: auto !important;
    background-color: rgba(229, 241, 201, 0.932);
    cursor: url('asset/misc/cursor/cursor_normal.png'), auto;
    font-family: 'Shippori Antique B1', sans-serif;

}

/*Page settings*/

#Page1{
    margin-top: 0px;
    overflow: hidden;
    height: 100vh;
    background-color: rgb(255, 162, 162);
}

#Page2{
    background-color: rgb(255, 166, 233);
    overflow: hidden;
    height: 100vh;
    background-size: 100%;
    padding: 0%;
    margin: 0%;
    background-repeat: no-repeat;
}

.container{
    width: 1000px;
}



/*Page index */

.title1{
    text-align: center;
}

#input_user_name_title{
    font-weight: bold;
    text-align: end;
    font-size: 30px;
}

#username{
    height: 40px;
    width: 50%;
    border: 5px solid rgb(211, 70, 70);
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: 5px;
    text-align: left;
}



#username::placeholder {
    font-style: italic;
  }




/* Character choice in home setting*/
#char_right, #char_left{
    height: 400px;
}

#char-home1{
    height: 400px;
    width: auto;
    position: relative;
    z-index: 10;
    pointer-events: none;
}

#char-home2{
    height: 400px;
    width: auto;
    position: relative;
    z-index: 10;
    pointer-events: none;
}



/*container in home*/
#row-choose{
    margin-bottom: 0%;
}

#start_row{
    margin-top: 20px;
    text-align: center;
}

#start{
    border-radius: 10px;
    text-align: center;
    pointer-events: all;
    z-index: 100;
}


/*greetings function (e.g good morning user)*/

#greetings_container{
    text-align: center;
}

#greetings{
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
}

/*animation when character idle */

.row_character{
    text-align: center;
    position: relative;
    height: 0px;
}


#character1{
    padding: 10px;
    height: auto;
    position: relative;
    transform:translateX(-10%) translateY(100px);

}

#character1 img{
    width: 120%;
    height: auto;
    position: absolute;
    left: 10px;
    pointer-events: none;
}

#character1 #eye{
    animation: kedip 3s infinite;
    opacity: 1;
}

#character1 #eye2{
    animation: kedip2 3s  infinite;
    opacity: 0;
}

#character1 #eye3{
    animation: kedip3 3s  infinite;
    opacity: 0;
}

#aksesoris, #hair-back, #head, #eye, #eye2, #eye3, #hair-front, #body, #hand-left, #hand-right{
    animation: goyang 3s infinite;
}




@keyframes kedip{
    0% {opacity: 1;
        transform: translateY(0%);

    }
    5% {opacity: 0;
        transform: translateY(0%);

    }
    10% {opacity: 0;
        transform: translateY(0%);
    }
    15% {opacity: 0;
        transform: translateY(0%);

    }
    50% {opacity: 1;
            transform: translateY(2%);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0%);

    }
}


@keyframes kedip2{
    0% {opacity: 1;
        transform: translateY(0%);
    }
    5% {opacity: 1;
        transform: translateY(0%);

    }
    10% {opacity: 0;
        transform: translateY(0%);
    }
    15% {opacity: 0;
        transform: translateY(0%);

    }
    50% {opacity: 0;
            transform: translateY(2%);
        
    }
    100% {
        opacity: 0;
        transform: translateY(0%);

    }
}




@keyframes kedip3{
    0% {opacity: 0;
        transform: translateY(0%);

    }
    5% {opacity: 0;
        transform: translateY(0%);

    }
    10% {opacity: 1;
        transform: translateY(0%);
    }
    15% {opacity: 1;
        transform: translateY(0%);

    }
    50% {opacity: 0;
            transform: translateY(2%);
        
    }
    100% {
        opacity: 0;
        transform: translateY(0%);

    }
}



@keyframes goyang{
    0% {transform: translateY(0%);
    }
    
    10%{transform: translateY(0%);

    }
    50% {transform: translateY(1%);
    }
    100% {
        transform: translateY(0%);
    }
}


/*gif */

#gif_col{
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    width: 200vh;
    height: auto;
    z-index: 100;
    transform: translateY(-60%);
}

.eat_gif, .sleep_gif, .study_gif, .play_gif{
    position: absolute;
    transform: translateY(-100%);
    height: 90%;
    transform: translateX(-100%);


}


.gif_action{
    left: 30%;
    position: relative;
    padding: 40px;
    width: 900px;
}

/*Page 2*/


/*Clock*/
.clock{
    text-align:center;
    width:auto;
    height:auto;
}

/*Status Bar*/

#status_bar{
    text-align: center;
}

#status1, #status2, #status3, #status4 {
    text-align: center;
    margin-left: 0px;
    padding: 10px 10px ;
    transform: translateY(-15%);
}



#proggress_fill{
    margin-top: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

#proggress_bar1, #proggress_bar2, #proggress_bar3, #proggress_bar4{
    background-color: rgb(1, 161, 14);
    border-radius: 10px;
    height: 10px;
    width:100%;
}



/*BUtton go back*/

#go_back{
    background-color: rgb(255, 255, 255);
    border: none;
    margin-left: 20px;
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
/*Character row*/
#background_image{
    height: 100px;
    width: auto;
    position: relative;
}


/*Button Action*/
#button_action_container{
    text-align: center;
    transform: translateY(200px);
    
}

#button_action {
    border-radius: 10px;
    border: none;
    background-color: rgb(212, 1, 1);
    color: aliceblue;
    padding: 10px;
    width: 100px;
    height: 50px;
    cursor: url('asset/misc/cursor/cursor_point.png'), pointer;
    z-index: 10;
}

#button_action:hover{
    width: 120px;
    height: 60px;
}


/*others stuff*/

#hand-right{
    cursor: url('asset/misc/cursor/cursor_grab.png'), auto;
  }




  /*for clock*/
  
  @import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

  .box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .clock2 {
      margin-right: 20%;
    transform: translateY(-200px);
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    background-image: url('asset/background/malam.png');
    background-size: cover;
    border-radius: 50%;
    border: 10px solid rgba(230, 70, 70, 0.918);
    box-shadow: 0.5rem 0.5rem 1rem #555, -0.5rem -0.5rem 1rem #555;
    position: relative;
  }
  
  .numbers {
    width: inherit;
    height: inherit;
    position: relative;
  }
  
  .numbers div {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #fff;
    text-align: center;
    align-items: center;
    border-radius: 50% ;
    width: 20px;
    height: 20px;
  }
  
  .twelve {
    left: 35%;
    transform: translateX(-50%);
    transform: translateY(-30%);
  }
  
  .three {
    right: 20%;
    top: 40%;
    transform: translateY(-50%);
  }
  
  .six {
    bottom: 1rem;
    left: 40%;
    transform: translateX(-50%);
  }
  
  .nine {
    top: 40%;
    transform: translateY(-50%);
  }
  
  .arrows {
    width: inherit;
    height: inherit;
    position: absolute;
    top: -13%;
    left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrows::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0.2rem 0.2rem 0.5rem #777;
    z-index: 10;

  }
  
  .arrows div {
    width: 7px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid red;
    position: absolute;
    bottom: 50%;
    box-shadow: 0.2rem 0.2rem 0.5rem #777;
    border-radius: 100% 100% 0 0;
    transform-origin: bottom center;
  }
  
  .arrows .hour {
    height: 30px;
    transform: rotate(90deg);
  }


  /*Pop ups*/

  #pop_ups{
      pointer-events: all;
      background-color: rgb(0, 0, 0, 0.5);
      height: 200%;
      width: 100%;
      position: absolute;
      top: 600px;
      right: 0px;
      z-index: 20;
  }
  #pbutton_open{
      width: 30px;
      height: 30px;
      border-radius:  50%;
      background-color: yellow;
  }

  #pbutton{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: red;
      position: absolute;
      transform: translateY(-20px);
      left: -20px;
  }

  #pop_ups_in{
      padding: 20px;
      background-color: #ffbdbd;
      height: 50%;
      width: 70%;
      position: absolute;
      top: 130%;
      border: 10px solid black;
      border-radius: 10px;
      z-index: 30;
  }

 