html{
    scroll-behavior: auto;
}
body{
    background-color: rgba(229, 241, 201, 0.932);
    scroll-behavior: auto !important;
}

/*Page settings*/

#Page1{
    background-image: url(https://www.freepik.com/premium-vector/set-kawaii-doodle_3886721.htm);
    overflow: hidden;
    height: 120vh;
    background-color: rgb(255, 162, 162);
}

#Page2{
    overflow: hidden;
    height: 300vh;
    background-image: url(/asset/background/pagi.png);
    background-size: 100%;
    background-repeat: no-repeat;
}



/*Page index */

.title1{
    text-align: center;
}

#input_user_name_title{
    font-weight: bold;
    text-align: end;
    font-size: 30px;
}

#username{
    height: 40px;
    width: 50%;
    border: 5px solid rgb(211, 70, 70);
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: 5px;
    text-align: left;
}



#username::placeholder {
    font-style: italic;
  }

.row{
    height: fit-content;
}

#characterA{
    text-align: right;
}




#char_right, #char_left{
    height: 400px;
}

#char-home1{
    height: 400px;
    width: auto;
    position: relative;
}


#row-choose{
    margin-bottom: 0%;
}

#start_row{
    margin-top: 20px;
    text-align: center;
}

#start{
    border-radius: 10px;
    text-align: center;
}


/*greetings*/

#greetings{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}



/*animasi idle */

#character1{
    padding: 10px;
    height: auto;
    position: relative;
    text-align: center;
}

#character1 img{
    height: 400px;
    width: auto;
    position: absolute;
}

#character1 #eye{
    animation: kedip 3s infinite;
    opacity: 1;
}

#character1 #eye2{
    animation: kedip2 3s  infinite;
    opacity: 0;
}

#character1 #eye3{
    animation: kedip3 3s  infinite;
    opacity: 0;
}

#aksesoris, #hair-back, #head, #eye, #eye2, #eye3, #hair-front, #body, #hand-left, #hand-right{
    animation: goyang 3s infinite;
}

#foot, #aksesoris, #hair-back, #head, #eye, #eye2, #eye3, #hair-front, #body, #hand-left, #hand-right{
    margin-left: 100px ;
}





@keyframes kedip{
    0% {opacity: 1;
        transform: translateY(0%);

    }
    5% {opacity: 0;
        transform: translateY(0%);

    }
    10% {opacity: 0;
        transform: translateY(0%);
    }
    15% {opacity: 0;
        transform: translateY(0%);

    }
    50% {opacity: 1;
            transform: translateY(2%);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0%);

    }
}


@keyframes kedip2{
    0% {opacity: 1;
        transform: translateY(0%);
    }
    5% {opacity: 1;
        transform: translateY(0%);

    }
    10% {opacity: 0;
        transform: translateY(0%);
    }
    15% {opacity: 0;
        transform: translateY(0%);

    }
    50% {opacity: 0;
            transform: translateY(2%);
        
    }
    100% {
        opacity: 0;
        transform: translateY(0%);

    }
}




@keyframes kedip3{
    0% {opacity: 0;
        transform: translateY(0%);

    }
    5% {opacity: 0;
        transform: translateY(0%);

    }
    10% {opacity: 1;
        transform: translateY(0%);
    }
    15% {opacity: 1;
        transform: translateY(0%);

    }
    50% {opacity: 0;
            transform: translateY(2%);
        
    }
    100% {
        opacity: 0;
        transform: translateY(0%);

    }
}



@keyframes goyang{
    0% {transform: translateY(0%);
    }
    
    10%{transform: translateY(0%);

    }
    50% {transform: translateY(1%);
    }
    100% {
        transform: translateY(0%);
    }
}



/*gif*/

#gif_eat{
    height: 500px;
    width: auto;
}

/*Page 2*/


/*Clock*/
.clock{
    text-align:center;
    width:auto;
    height:auto;
}

/*Status Bar*/

#status_bar{
    border: 1px solid black;
    background: rgb(0, 0, 0, 0.5);
}

#proggress_fill{
    margin-top: 30px;
    width: 100%;
    background-color: aliceblue;
}

#proggress_bar1, #proggress_bar2, #proggress_bar3, #proggress_bar4{
    background-color: blue;
    height: 10px;
    width:100%;
}

/*Character row*/
#background_image{
    height: 100px;
    width: auto;
    position: relative;
}


/*Button Action*/

#button_action {
    border-radius: 10px;
    background-color: brown;
    color: aliceblue;
    padding: 10px;
    width: 100px;
    height: 50px;
}


/*others stuff*/

#hand-right{
    cursor: url('https://res.cloudinary.com/dvkugaw3b/image/upload/v1641562028/cursor_ad12rf.png'), auto;
  }

