body{
    scroll-behavior: auto !important;
    background-color: rgba(229, 241, 201, 0.932);
    cursor: url('asset/misc/cursor/cursor_normal.png'), auto;
    font-family: "Dimbo";
}

@font-face {
    font-family: "Dimbo";
    src: url(asset/font/Dimbo\ Regular.ttf);
}

/*Page settings*/

#Page1{
    margin-top: 0px;    
    height: auto;
    overflow: hidden;
    background-color: rgb(255, 162, 162);
}

.scroll-here {
    height: 100vh;
}

#Page2{
    background-color: rgb(255, 166, 233);
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    background-size: 100%;
    padding: 0%;
    margin: 0%;
    background-repeat: no-repeat;
    transition: background 1s linear;
}

/*Page index */

#username{
    background-color: aliceblue;
    border-radius: 8px; 
    width: 500px;
}

#username::placeholder {
    font-style: italic;
  }

#confirm {
    cursor: url('asset/misc/cursor/cursor_point.png'), pointer;
    width: 120px;
}


/* Character choice in home setting*/

#char-home1, #char-home2 {
    height: 350px;
    z-index: 10;
    cursor: url('asset/misc/cursor/cursor_point.png'), pointer;
}

#char-home1:hover, #char-home2:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/*container in home*/
#row-choose{
    margin-bottom: 0%;
}

#start{
    width: 10%;
    height: auto;
    cursor: url('asset/misc/cursor/cursor_point.png'), pointer;
    opacity: 0.4;
    transition: 0.7s;

}

#start:hover{
    width: 12%;
    transform: translateY(-10%);
    
}
/*greetings function (e.g good morning user)*/

#greetings{
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

/*animation when character idle */

.row_character{
    text-align: center;
    position: relative;
    height: 0px;
}


#character1{
    padding: 10px;
    height: auto;
    position: relative;
    transform:translateX(-10%) translateY(100px);
}

#character1 img{
    width: 120%;
    height: auto;
    position: absolute;
    left: 10px;
    pointer-events: none;
}

#character1 #eye{
    animation: kedip 3s infinite;
    opacity: 1;
}

#character1 #eye2{
    animation: kedip2 3s  infinite;
    opacity: 0;
}

#character1 #eye3{
    animation: kedip3 3s  infinite;
    opacity: 0;
}

#accessories, #hair-back, #head, #eye, #eye2, #eye3, #hair-front, #body, #hand-left, #hand-right{
    animation: goyang 3s infinite;
}




@keyframes kedip{
    0% {opacity: 1;
        transform: translateY(0%);

    }
    5% {opacity: 0;
        transform: translateY(0%);

    }
    10% {opacity: 0;
        transform: translateY(0%);
    }
    15% {opacity: 0;
        transform: translateY(0%);

    }
    50% {opacity: 1;
            transform: translateY(2%);
        
    }
    100% {
        opacity: 1;
        transform: translateY(0%);

    }
}


@keyframes kedip2{
    0% {opacity: 1;
        transform: translateY(0%);
    }
    5% {opacity: 1;
        transform: translateY(0%);

    }
    10% {opacity: 0;
        transform: translateY(0%);
    }
    15% {opacity: 0;
        transform: translateY(0%);

    }
    50% {opacity: 0;
            transform: translateY(2%);
        
    }
    100% {
        opacity: 0;
        transform: translateY(0%);

    }
}




@keyframes kedip3{
    0% {opacity: 0;
        transform: translateY(0%);

    }
    5% {opacity: 0;
        transform: translateY(0%);

    }
    10% {opacity: 1;
        transform: translateY(0%);
    }
    15% {opacity: 1;
        transform: translateY(0%);

    }
    50% {opacity: 0;
            transform: translateY(2%);
        
    }
    100% {
        opacity: 0;
        transform: translateY(0%);

    }
}



@keyframes goyang{
    0% {transform: translateY(0%);
    }
    
    10%{transform: translateY(0%);

    }
    50% {transform: translateY(1%);
    }
    100% {
        transform: translateY(0%);
    }
}


/*gif */

#gif_col{
    display: none;
    background-color: rgb(0, 0, 0, 0.8);
    position: fixed;
    width: 110%;
    height: 100vh;
    bottom: 0;
    z-index: 50;
}

.gif_action{
    width: 100vh;
    height: auto;
}

#eat_gif, #sleep_gif, #study_gif, #play_gif{
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: auto;
    height: 100%;

}

/*Page 2*/


/*Clock*/
.clock{
    text-align:center;
    width:auto;
    height:auto;
}

/*Status Bar*/
.bar_image{
    border: 1px solid #555;
    border-radius: 50%;
    margin: 10px;
    background-color: #3498db;
    width: 50px;
    height: auto;
}

#status_bar{
    text-align: center;
}

#status1, #status2, #status3, #status4 {
    text-align: center;
    margin-left: 0px;
    padding: 10px 10px ;
}



#proggress_fill{
    margin-top: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
}

#proggress_bar1, #proggress_bar2, #proggress_bar3, #proggress_bar4{
    background-color: #00ff15;
    border-radius: 10px;
    height: 10px;
    width:100%;
}



/*BUtton go back*/

#go_back{
    padding: 5px;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    cursor: url('asset/misc/cursor/cursor_point.png'), pointer;
    transform: translateY(10px);
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#go_back:hover{
    transform: translateY(-20px);
    height: 200px;
    width: 200px;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
    filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
}


/*Character row*/
#background_image{
    height: 100px;
    width: auto;
    position: relative;
}


/*Button Action*/
#button_action_container{
    transform: translateY(50px);
    text-align: center;
    height: auto;
    width: auto;
}

.button-action {
    cursor: url('asset/misc/cursor/cursor_point.png'), pointer;
    z-index: 10;
    height: auto;
    width: 160px;
    transition: 0.7s;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.button-action:hover {
    width: 200px;
    transform: translateY(-10%);

}

#thropy{
    position: absolute;
    right: 10px;
    transform: translateY(-100px);
}

/*others stuff*/

#digital {
    visibility: hidden;
}

#hand-right{
    cursor: url('asset/misc/cursor/cursor_grab.png'), auto;
  }

#foot{
    width: 150px;
    -webkit-filter: drop-shadow(0px 10px 5px #222);
    filter: drop-shadow(0px 10px 5px #222);
}


/*for clock*/

@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.clock2 {
    margin-right: 20%;
    transform: translateY(-200px);
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    background-image: url('asset/misc/Clock.png');
    background-size: cover;
    border-radius: 50%;
    border: 10px solid rgba(230, 70, 70, 0.918);
    box-shadow: 0.5rem 0.5rem 1rem #555, -0.5rem -0.5rem 1rem #555;
    position: relative;
}

.numbers {
    width: inherit;
    height: inherit;
    position: relative;
}

.numbers div {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #fff;
    text-align: center;
    align-items: center;
    border-radius: 50% ;
    width: 20px;
    height: 20px;
}

.twelve {
    left: 35%;
    transform: translateX(-50%);
    transform: translateY(-30%);
}

.three {
    right: 20%;
    top: 40%;
    transform: translateY(-50%);
}

.six {
    bottom: 1rem;
    left: 40%;
    transform: translateX(-50%);
}

.nine {
    top: 40%;
    transform: translateY(-50%);
}

.arrows {
    width: inherit;
    height: inherit;
    position: absolute;
    top: -13%;
    left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.arrows::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0.2rem 0.2rem 0.5rem #777;
    z-index: 10;
}

.arrows div {
    width: 7px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid red;
    position: absolute;
    bottom: 50%;
    box-shadow: 0.2rem 0.2rem 0.5rem #777;
    border-radius: 100% 100% 0 0;
    transform-origin: bottom center;
}

.arrows .hour {
    height: 30px;
    transform: rotate(90deg);
}

/*alert and achievement*/ 
#alert {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 40;
}

#info {
    background-color: beige;
    padding: 20px;
    width: 50%;
    height: auto;
    z-index: 42;
}

/*Pop ups*/
#pop_ups{
    pointer-events: all;
    background-color: rgb(0, 0, 0, 0.5);
    height: 200%;
    width: 100%;
    position: fixed;
    right: 0px;
    z-index: 20;
    transform: translateY(-50%);
}

#pbutton{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid black;
    position: absolute;
    transform: translateY(-30px);
    left: -20px;
  }

#pop_ups_in{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    padding: 20px;
    background-color: #ffbdbd;
    height: 50%;
    width: 70%;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 1px;
    z-index: 30;
}

/* Achievements */
#achievements{
    background-color: rgb(0, 0, 0, 0.5);
    height: 200vh;
    transform: translateY(-100vh);
    width: 100%;
    position: absolute;
    z-index: 60;
}

#awards{
    background-color: beige;
    margin: 50px;
    padding: 10px;
    width: auto;
    height: 30rem;
    transform: translateY(50vh);
}

#btn {
    border-radius: 10px;
    border: none;
    background-color: rgb(240, 88, 113);
    color: aliceblue;
    padding: 10px;
    width: auto;
    height: 50px;
    cursor: url('asset/misc/cursor/cursor_point.png'), pointer;
    transform: translateX(100px);
}
#user-name{
    text-align: center;
    color: #fd6a6a;
}

#close {
    cursor: url('asset/misc/cursor/cursor_point.png'), pointer;
}


/*Loading screen setting*/
#loading_screen{
    display: none;
}
#loader_background{
    background-color: rgb(109, 177, 255);
    position: fixed;
    width: 100%;
    height: 300vh;
    top: 0px;
    z-index: 1000;
}
#loader{
    text-align: center;
    transform: translateY(30vh);
}

.loader {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
/* for Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Game over screen*/
#gameover_screen{
    display: none;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 300vh;
    top: 0px;
    z-index: 1000;
}

#gameover{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: auto;
    height: 120px;
    font-size: 40px;
}


/*Outfit setting*/
.change_costum{
    width: auto;
    height: auto;
}

.change_outfit{
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: auto;
    height: 160px;
    cursor: url('asset/misc/cursor/cursor_point.png'), pointer;
    z-index: 10;
    width: 150px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}



/*For credit page*/

#open_credit{
    bottom: 10px;
    width:100px;
    border-radius: 10px;
}
#background_credit{
    display: none;
    background-color: rgb(0, 0, 0, .7);
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    top: 0px;
    z-index: 100;
}

#Pop_credit{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    padding: 20px;
    background-color: #ffbdbd;
    height: 50%;
    width: 70%;
    position: absolute;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 20px;
    z-index: 30;
}

/*For setting page*/
#open_setting{
    width:100px;
    border-radius: 10px;
}

/*Home button setting*/
#home-button{
    bottom: 100px;
    transform: translateY(-30%);
}

/*SMALL SCREEN*/
@media (max-width: 768px) {
    #char-home1, #char-home2 {
        height: 300px;
    }
    .gif_action{
        left: 60%;
        right: 0%;
    }
    #start{
        width: 20%;
    }
    #start:hover{
        width: 24%;
    }
}